@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'poppins';
    box-sizing: border-box;
    color:#fff;
}
body{
    background-color: #262a2f;
}
.container{
    margin-top: -30px;
    width:100%;
    min-height:100vh ;
    background:#0b0423 ;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
}
.notes{
    width:100%;
    min-height:100vh ;
    background:#0b0423 ;
    display: flex;
    align-items:center ;
    justify-content: center;
}
#right, #left{
    width: 300px;
    min-height: 400px;
    margin: 20px;
    border: 2px dashed #fff;
}

.list{
    background: #494eea;
    height:60px;
    margin:30px;
    color:#fff;
    display: flex;
    align-items: center;
    cursor: grab;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
    padding: 1%;
}
.list img{
    width:10px;
    margin-right: 15px;
    margin-left: 20px;
}

 input{
    width: 100% ;
    height: 50px;
    border: 1px solid #494eea;
    outline: 0;
    padding: 10px;
    margin: 10 0 20px;
    border-radius: 5px;
}
 button{
    font-weight:500 ;
    font-size:15px ;
    width: 50% ;
    height: 50px;
    color:#fff;
    background: #494eea;
    outline: 0;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
    cursor:pointer;
}
.options{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20%;
    gap:20px;
    margin-top: -70px;
    padding-bottom:40px ;
}
.options input{
    color: #0b0423;
    width: 300px;
}
.new , .done{
    position: absolute;
    top: 8% ;
    font-size: 25px;
}
.title{
    position: absolute;
    top:0%;
    font-size: 34px;
}
.new{
    left:35%;
}
.done{
    right:35%;
}

/* Trashcan */
section {
	/* background: #dce7eb; */
	width: fit-content;
	height: fit-content;
	display: flex;
	align-items: center;
    position: absolute;
    left:80%;
    top:65%;
    z-index: 0;
    transform: scale(0.8);
}


.trash {
	background:#ff6873;
	width: 66px;
	height: 80px;
	display: inline-block;
	margin:0 auto;
	position: relative;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}
.trash:after {
	position: absolute;
	left: -99px;
	right: 0;
	bottom: -50px;
	width: 300px;
}
.trash span {
	position: absolute;
	height: 12px;
	background: #ff6873;
	top: -19px;
	left: -10px;
	right: -10px;
	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	transform: rotate(0deg);
	transition: transform 250ms;
	transform-origin: 19% 100%;
}
.trash span:after {
	content: '';
	position: absolute;
	width: 27px;
	height: 7px;
	background: #ff6873;
	top: -10px;
	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	transform: rotate(0deg);
	transition: transform 250ms;
	transform-origin: 19% 100%;
	left: 27px;
}


.trash i {
	position:relative;
	width: 5px;
	height:50px;
	background:#fff;
	display:block;
	margin:14px auto;
	border-radius: 5px;
}
.trash i:after {
	content: '';
	width: 5px;
	height: 50px;
	background: #fff;
	position: absolute;
	left: -18px;
	border-radius: 5px;
}
.trash i:before {
	content: '';
	width: 5px;
	height: 50px;
	background: #fff;
	position: absolute;
	right: -18px;
	border-radius: 5px;
}

.trash:hover span {
	transform:translateY(-45px);
	transition: transform 250ms;
}

.trash:hover span,
.trash-container.drag-over .trash span {
    transform: translateY(-45px);
    transition: transform 250ms;
}